*{
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: darkkhaki;
}
#header{
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
}
.container{
     padding: 10px 05%;
}
nav{
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    margin-bottom: 5px;
}
.search-form {
    display: flex;
    align-items: center;
    margin-top: 27px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 2px solid #4152b4;
    border-radius: 3px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #e61c1c;
    color: #fff;
    border: chocolate;
    border-radius: 3px;
    cursor: pointer;
}
.logo{
    width: 130px;
    margin-top: 4px;
    margin-left: 2px;
padding-top: 0%;
}
nav ul{
    margin-left: 0px;
    margin-top: 25px;
    margin-right: 5px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
}
#google_translate_element {
    display: inline-block;
    background-color: #aba9e3;
    color: #461e2a;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }


  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main::before {
    content: "";
    position: absolute;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 10;
}
#home {
    display: flex;
    background-color: aliceblue;
}

.text {
    position: relative;
    width: 50%;
    margin-left: 22px;
    margin-top: 50px;
    height: 100%;
    text-align: center;
    background: url(home.png) content-box no-repeat center/cover ;
    opacity: 5;
}

.text h1 {
    color: #0d0806;
    /* padding-left: 22px; */
    font-size: 60px;
    padding-bottom: 34px;
    font-weight: bold;
}
.text h1 span{
    color: red;
    font-size: 80px;
}

.text p {
    color: rgb(62, 60, 60);
    font-size: 46px;
    font-weight: bold;
}

.text h2 {
    font-size: 30px;
    color: #512b19;
    font-weight: lighter;
}

.cn {
    background-color: rgb(127, 92, 75);
    width: 120px;
    height: 60px;
    border: 2px solid rgb(122, 62, 34);
    border-radius: 21px;
    text-align: center;
    margin-top: 25px;
}

a {
    font-size: 20px;
    color: black;
    font-weight: 1000;
    text-decoration: none;
}

.cn a:hover {
    color: white;
}

.form {
    background-color: black;
    flex: center;
    width: 378px;
    height: 100%;
    margin: 104px 71px;
    margin-left: 253px;
    border-radius: 22px;
}

.form h2 {
    width: 220px;
    text-align: center;
    color: #512b19;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    margin-top: 22px;
    margin-left: 49px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solidrgb(239, 95, 112);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 40px;
    opacity: 0.9;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: rgb(122, 62, 34);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 40px;
    margin-bottom: 55px;
}

.btnn a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.btnn a:hover {
    color: rgb(248, 248, 248);
}
#about h1{
    font-size: 60;
    text-align: center;
    color: #33c292;
 }
 #about p{
    font-size: 26;
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
 }
 #about p span{
    color:rgb(202, 92, 9);
 }
 footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
#enquiry {
    padding: 20px;
    background-color: #ec7d7d;
}

#enquiry h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 30;
}

.enquiry-form input,
.enquiry-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #312d2d;
    border-radius: 3px;
}

.enquiry-form button {
    padding: 5px 10px;
    background-color: #8b7676;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


#contact{
    padding: 20px;
    background-color: #e45e5e;
    color: black;
}

#contact h2 {
    margin-bottom: 10px;
    font-size: 30;
}

#contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contact li {
    margin-bottom: 5px;
}
.social-links {
    display: inline-flex;
    align-items: center;
    padding: 10px;
}

.social-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 2px;
}